body {
	background-color: #F2F2F2;
}

.navbar-custom {
	background-color: #ffffff;
	height: 5em;
	display: table-cell;
	vertical-align: middle;
}

.nvb-row {
	padding-top: 1em;
}

.middle-cats {
	padding-top: 6em;
}

.middle-car {
	padding-top: 5em;
}

.carousel .item {
    border-radius: 12px;
    background-color: rgba(0,0,0,0);
    overflow: hidden;
}
.carousel-control {
    border-radius: 12px;
}