<% if user_signed_in? %>
  <div id="user-links" style="margin-left:90%;">
    <p>
      <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
    </p>
  </div>
<% else %>
  <div id="user-links" style="margin-left:90%;">
    <p>
      <%= link_to 'Sign In', new_user_session_path %>
      <%= link_to 'Register', new_user_registration_path %>
    </p>
  </div>
<% end %>