<h1>Welcome Admin</h1>
<hr>

<h3>Showing all Orders</h3>

<table class="table table-hover">
  <tr>
    <th>Received at</th>
    <th>Sub Total</th>
    <th>Delivery Address</th>
    <th>View Details</th>
  </tr>
  
  <% @orders.each do |order| %>
    <%= render "order_row", order: order, ship_detail: ShippingDetail.where(:order_id => order.id).first %>
  <% end %>
</table>