<h2>Search Results</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
  </tr>

  <% @products.each do |p| %>
    <tr>
      <td> 
        <%= link_to p.pname, company_product_path(p.company_id, p) %>
        <i>by <%= Company.find_by_id(p.company_id).cname %></i>
      </td>
      <td> <%= p.pdescrip %> </td>
      <td> <%= p.pprice %>$ </td>
    </tr>
  <% end %>
</table>