<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  </head>
  <body>
    <h1>Hello <%= ship_detail.sname %>,</h1>
    <h3>Your order has been received</h3>
    <p>Below are the details of your order</p>

    <p>Item 1</p>
    <p>Item 2</p>
  </body>
</html>