// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.inline {
  display: inline;
}

#user-links {
  margin-top: 1.2%;
}

.highlight {
  background-color: yellow;
}

#order_order_status {
  transition: opacity 500 ease-in-out;
}

.page-margin {
  margin-left: 13%; 
  margin-right: 13%; 
}

.footer {
  margin-top: 40px; 
  height: 230px;

  background-color: #000;
  color: #FFA500;
  font-family: proxima_nova_ltregular;
}