// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.inline {
  display: inline;
}

#user-links {
  margin-top: 1.2%;
}

.highlight {
  background-color: yellow;
}

#order_order_status {
  transition: opacity 500 ease-in-out;
}